[Unit]
Description=Executes minecraft_shutdown service every minute
After=minecraft.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=minecraft_shutdown.service

[Install]
WantedBy=timers.target