[Unit]
Description=Shutdowns instance if docker compose stack is not running
After=docker.service
BindsTo=docker.service
ReloadPropagatedFrom=docker.service

[Service]
Type=simple
User=ec2-user
Group=ec2-user
ExecStart=docker compose -f ${minecraft_data_path}/docker-compose.yml up -d
ExecReload=docker compose -f ${minecraft_data_path}/docker-compose.yml up -d

[Install]
WantedBy=multi-user.target