[Unit]
Description=Shutdowns instance if docker compose stack is not running

[Service]
Type=oneshot
User=ec2-user
Group=ec2-user
ExecStart=/home/ec2-user/auto_shutdown.sh

[Install]
WantedBy=multi-user.target
