[Unit]
Description=Executes auto_shutdown service every minute
After=start_server_compose.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
Unit=auto_shutdown.service

[Install]
WantedBy=timers.target